<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Secure Messaging App</title>
  {% load static %}
  
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section starts -->
    <header class="header_section">
      
      <div class="header_top">
        <div class="container-fluid header_top_container">
         <centre> <a class="navbar-brand" href=""> Secure<span> Messaging App</span> </a></centre>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand navbar_brand_mobile" href=""> Secure<span> Messaging App</span> </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>Login</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="detail-box">
                <h1>
                  Best<br />
                  Place To Be<br />
                </h1>
                <br><br>
                <section class="features_section">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="feature_box">
                          <i class="fa fa-shield" aria-hidden="true"></i>
                          <h3>Top-Notch Security</h3>
                          <p>Your messages are protected with end-to-end encryption, ensuring privacy and security.</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="feature_box">
                          <i class="fa fa-user-secret" aria-hidden="true"></i>
                          <h3>Privacy First</h3>
                          <p>We value your privacy and never store your data. Only you have access to your messages.</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="feature_box">
                          <i class="fa fa-cloud" aria-hidden="true"></i>
                          <h3>Cloud Backup</h3>
                          <p>Securely back up your messages to the cloud and restore them anytime you need.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="detail-box">
                <h1>
                  This is where<br />
                  you should be<br />
                  with us.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
</body>

</html>
